@if (loading()) {
<div class="flex-center loading-spinner">
    <mat-spinner></mat-spinner>
</div>
}
@else if (!loading() && !metadata && !errorMessage()) {
<app-text-card type="info" message="No file found."></app-text-card>
}
@else if (errorMessage()) {
<app-text-card type="error" message="{{ errorMessage() }}"></app-text-card>
}
@else if(metadata) {
<div class="flex-center">
    <mat-card class="metadata-card-material">
        <mat-card-header>
            <mat-icon mat-card-avatar>cloud_upload</mat-icon>
            <mat-card-title>File {{ index }}</mat-card-title>
            <mat-chip-listbox class="status-chip">
                <mat-chip [ngClass]="metadata.status.toLowerCase()" selected color="white">
                    <span class="chip-text">
                        {{ metadata.status | titlecase }}
                    </span>
                </mat-chip>
            </mat-chip-listbox>
        </mat-card-header>

        <mat-card-content>
            <mat-list role="list">
                <mat-list-item>
                    <div class="list-item">
                        <span>Name:</span>
                        <span>{{ metadata.originalFilename }}</span>
                    </div>
                </mat-list-item>

                <mat-list-item>
                    <div class="list-item">
                        <span>Size:</span>
                        <span>{{ metadata.sizeBytes | formatBytes }}</span>
                    </div>
                </mat-list-item>

                <mat-list-item>
                    <div class="list-item">
                        <span>Point Count:</span>
                        <span>{{ metadata.pointCount ?? 'N/A' }}</span>
                    </div>
                </mat-list-item>

                <mat-list-item>
                    <div class="list-item">
                        <span>Capture Year:</span>
                        <span>{{ metadata.captureYear }}</span>
                    </div>
                </mat-list-item>

                <mat-list-item>
                    <div class="list-item">
                        <span>System Identifier:</span>
                        <span>{{ metadata.systemIdentifier ?? "N/A" }}</span>
                    </div>
                </mat-list-item>

                <mat-list-item>
                    <div class="list-item">
                        <span>Las Version:</span>
                        <span>{{ metadata.lasVersion ?? "N/A" }}</span>
                    </div>
                </mat-list-item>

                <mat-list-item>
                    <div class="list-item">
                        <span>Uploaded At:</span>
                        <span>{{ metadata.uploadedAt ? (metadata.uploadedAt | date:'medium') : 'N/A' }}</span>
                    </div>
                </mat-list-item>
            </mat-list>

            <h4 class="box-header">Bounding Box (Min/Max Coordinates)</h4>
            <mat-list class="bounding-list">
                <mat-list-item>
                    <div class="box-coord-row">
                        <span class="coord-label">X:</span>
                        <span class="coord-min">{{ metadata.minX | number: '1.2-2' }}</span>
                        <mat-icon class="separator-icon">arrow_right_alt</mat-icon>
                        <span class="coord-max">{{ metadata.maxX | number: '1.2-2' }}</span>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="box-coord-row">
                        <span class="coord-label">Y:</span>
                        <span class="coord-min">{{ metadata.minY | number: '1.2-2' }}</span>
                        <mat-icon class="separator-icon">arrow_right_alt</mat-icon>
                        <span class="coord-max">{{ metadata.maxY | number: '1.2-2' }}</span>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="box-coord-row">
                        <span class="coord-label">Z:</span>
                        <span class="coord-min">{{ metadata.minZ | number: '1.2-2' }}</span>
                        <mat-icon class="separator-icon">arrow_right_alt</mat-icon>
                        <span class="coord-max">{{ metadata.maxZ | number: '1.2-2' }}</span>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>
}