<mat-toolbar>
  <div class="navbar">
    <img src="assets/images/lidarc_logo.png" alt="LiDARC Logo" class="logo" routerLink="./"/>
    <button mat-button routerLink="/upload" routerLinkActive="active-button">
      <mat-icon>upload</mat-icon>
      Upload Files
    </button>

    <button mat-button routerLink="/unassigned-files" routerLinkActive="active-button">
      <mat-icon>folder</mat-icon>
      Unassigned Files
    </button>

    <button mat-button routerLink="/comparable-items" routerLinkActive="active-button">
      <mat-icon>compare_arrows</mat-icon>
      Comparable Items
    </button>

    <button mat-button routerLink="/comparisons" routerLinkActive="active-button">
      <mat-icon>swap_horiz</mat-icon>
      Comparisons
    </button>

    <button mat-button routerLink="/reports" routerLinkActive="active-button">
      <mat-icon>library_books</mat-icon>
      Reports
    </button>

  </div>
</mat-toolbar>
