<mat-card>
  <form [formGroup]="form" class="upload">
    <mat-card-actions>
      <input #fileInput (change)="onFileInput($event)" hidden multiple type="file"/>

      <div class="controls">
        <button (click)="openFilePicker(fileInput)" color="primary" mat-raised-button type="button">
          Select files
        </button>
        <button
          (click)="clear()"
          [disabled]="dataSource.data.length === 0"
          color="warn"
          mat-button
          type="button"
        >
          Clear
        </button>
      </div>
    </mat-card-actions>

    <mat-card-content>
      <table [dataSource]="dataSource" [trackBy]="trackById" mat-table>
        <ng-container matColumnDef="file name">
          <th *matHeaderCellDef mat-header-cell>Files</th>
          <td *matCellDef="let f" mat-cell>
            @if (f.folderName) {
              <span class="folder-badge">{{ f.folderName }}/</span>
            }<span>{{ f.file.name }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th *matHeaderCellDef mat-header-cell>Status</th>
          <td *matCellDef="let f" mat-cell>
            @if (f.status == 'idle') {
            } @else if (f.status == 'uploading') {
              <span class="text-spinner"
              ><mat-spinner [diameter]="20" [value]="f.progress" mode="determinate"></mat-spinner
              ></span>
            } @else if (f.status == 'done') {
              <mat-icon>check</mat-icon>
            } @else {
              <mat-icon>error</mat-icon>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell>Actions</th>
          <td *matCellDef="let f" mat-cell>
            @if (f.status == 'idle') {
              <button (click)="upload(f)" matIconButton type="button">
                <mat-icon>upload</mat-icon>
              </button>
            } @else if (f.status == 'uploading') {
              <button (click)="cancel(f)" matIconButton type="button">
                <mat-icon>stop</mat-icon>
              </button>
            } @else if (f.status == 'done') {
              <!-- TODO change to trash or remove ?-->
              <mat-icon>check</mat-icon>
            } @else {
              <button (click)="reUpload(f)" matIconButton type="button">
                <mat-icon>upload</mat-icon>
              </button>
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="folder">
          <th *matHeaderCellDef mat-header-cell>FolderName</th>
          <td *matCellDef="let f" mat-cell>
            @if (f.folderName) {
              <span>{{ f.folderName }}</span>
            }
          </td>
        </ng-container>
        <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
        <tr *matRowDef="let row; columns: columnsToDisplay" mat-row></tr>
      </table>
    </mat-card-content>
  </form>
</mat-card>
