.filter-field {
    width: 350px;
    font-size: 14px;

    ::ng-deep .mat-mdc-text-field-wrapper {
        background-color: white;
    }
}

.percentile-badge {
  padding: 2px 8px;
  border-radius: 12px;
  background-color: #e3f2fd;
  color: #1976d2;
  font-weight: 600;
  font-size: 12px;
}
