<div style="padding: 30px;">
  <mat-form-field appearance="outline" class="filter-field">
    <mat-label>Filter Comparisons by Name</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. My Comparison Name" #input>
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
  @if (loading()) {
  <div class="flex-center">
    <mat-spinner></mat-spinner>
  </div>
  } @else if (errorMessage()) {
  <app-text-card type="error" message="{{ errorMessage() }}"></app-text-card>

  } @else if (dataSource.data.length === 0) {
  <app-text-card type="info" message="No comparison found."></app-text-card>
  } @else {
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <div class="status-column">
          <span [ngClass]="{
        'status-ready': element.status === 'COMPLETED',
        'status-error': element.status === 'FAILED',
        'status-default': element.status === 'PREPROCESSING' || element.status === 'COMPARING'}">
            {{ element.status | titlecase }}</span>
          @if (element.status === 'PREPROCESSING' || element.status === 'COMPARING') {
          <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
          } @else if (element.status === 'FAILED') {
          <mat-icon [matTooltip]="element.errorMessage" matTooltipPosition="above" diameter="20">
            error
          </mat-icon>
          }
        </div>
      </td>
    </ng-container>

    <!-- Created At Column -->
    <ng-container matColumnDef="filesLength">
      <th mat-header-cell *matHeaderCellDef>Files</th>
      <td mat-cell *matCellDef="let element">{{ element.files.length }}</td>
    </ng-container>



    <!-- Outlier Detection -->
    <ng-container matColumnDef="outlierDetection">
      <th mat-header-cell *matHeaderCellDef>O/D</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon color="primary" *ngIf="element.needOutlierDetection">check</mat-icon>
        <mat-icon color="warn" *ngIf="!element.needOutlierDetection">close</mat-icon>
      </td>
    </ng-container>


    <!-- Report Link Column -->
    <ng-container matColumnDef="resultReportUrl">
      <th mat-header-cell *matHeaderCellDef>Latest Report</th>
      <td mat-cell *matCellDef="let element">
        <a *ngIf="element.latestReport" [href]="this.globals.backendUri + element.latestReport" target="_blank"
          rel="noopener" download>
          Open Report
        </a>

        <span style="margin-left: 30px" *ngIf="!element.latestReport">—</span>
      </td>
    </ng-container>

    <!-- Created At Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Created At</th>
      <td mat-cell *matCellDef="let element">{{ element.createdAt | date: 'MMM d, y, HH:mm' }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" style="text-align: right">
        <a [routerLink]="['/comparisons', element.id]">
          <button mat-icon-button matTooltip="View Details" matTooltipPosition="right">
            <mat-icon>visibility</mat-icon>
          </button>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  }
  <div [hidden]="loading() || errorMessage() || dataSource.data.length === 0" style="margin-top: 20px">
    <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageIndex"
      [pageSizeOptions]="[10, 15, 20, 1]" showFirstLastButtons (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
