@use '@angular/material' as mat;
@use '@angular/material/prebuilt-themes/indigo-pink.css';
/* In src/styles.scss */
@import 'leaflet/dist/leaflet.css';

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
    )
  );

  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, span, div {
  font-family: 'Roboto', sans-serif;
}

body {
  color: var(--mat-sys-on-surface);
  margin: 0;
  height: 100%;
}
