@use '@angular/material' as mat;
@use '@angular/material/prebuilt-themes/indigo-pink.css';

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
    )
  );

  height: 100%;
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);

  height: 100%;
}
