@use '@angular/material' as mat;
@use '@angular/material/prebuilt-themes/indigo-pink.css';

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
    )
  );

  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: var(--mat-typography-headline-color, #333);
}

body {
  color: var(--mat-sys-on-surface);
  margin: 0;
  height: 100%;
}
