apiVersion: v1
kind: Service
metadata:
  name: redis
spec:
  ports:
    - port: 6379
  selector:
    app: redis
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
spec:
  serviceName: redis
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: redis
          image: redis:8.4
          command: ["redis-server"]
          args:
            - "--maxmemory"
            - "$(REDIS_MAXMEMORY)"
            - "--maxmemory-policy"
            - "$(REDIS_MAXMEMORY_POLICY)"
            - "--save"
            - "60"
            - "1"
            - "--appendonly"
            - "no"
          env:
            - name: REDIS_MAXMEMORY
              value: "512mb"
            - name: REDIS_MAXMEMORY_POLICY
              value: "allkeys-lru"
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 768Mi
          ports:
            - containerPort: 6379
          volumeMounts:
            - name: shared-data
              mountPath: /data
              subPath: redis
      volumes:
        - name: shared-data
          persistentVolumeClaim:
            claimName: lidarc-pvc