.no-expand {
    cursor: default !important;
}

.element-row {
    cursor: pointer;
}

.detail-row {
    height: 0;
}

.detail-container {
    overflow: hidden;
    padding: 16px 24px;
    background: #fafafa;

    .inner-table {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .reorder-info-header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.detail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 12px;
}

.selected-items-title {
    text-align: center;
    margin-bottom: 20px;
}

.selected-items-container {
    padding: 20px;

    .expand-column {
        padding-right: 0 !important;
    }

    .no-left-padding-col {
        padding: 0 !important;
    }
}

.grid-definition-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    max-width: 500px;
    margin: 20px 0;
}

.grid-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 0px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 5px;
}

.grid-info {
    display: flex;
    justify-content: space-between;

    p {
        margin: 5px 0;
        font-size: 14px;
    }
}

.grid-coords {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.coord-column p {
    margin: 5px 0;
    font-size: 20px;
}

.coord-column mat-icon {
    font-size: 24px;
}