.status-default {
  color: black;
  font-weight: bold;
}

.status-ready {
  color: green;
  font-weight: bold;
}

.status-error {
  color: red;
  font-weight: bold;
}

.upper-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .upper-action-section {
    display: flex;
    gap: 10px;
    align-items: flex-start;

    .filter-field {
      width: 350px;
      font-size: 14px;

      ::ng-deep .mat-mdc-text-field-wrapper {
        background-color: white;
      }
    }
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}