.controls{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  justify-self: center;
}
.slider-wrapper{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}
mat-slider{
  justify-self: center;
  flex: 1;
}
h3{
  align-self: center;
  font-size: 1rem;
}

